* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgba(0, 77, 153, .6), rgba(0, 77, 153, .6)), url(../images/test2.jpg);
  font-family: 'Raleway', sans-serif;
}
.errorMessage {
  width: 80%;
  margin: auto;
  color: red;
}
#inputContainer {
  color: #fff;
  margin-bottom: 20px;
}
.textBox {
  margin: auto;
  width: 90%;
  border-bottom: solid 1px #fff;
  padding: 15px 0;
}
.textBox h1, .textBox h2, .textBox h3 {
  padding: 5px 0;
}
i {
  padding-right: 5px;
  color: #1a8cff;
}
.hasAccount {
  text-transform: uppercase;
  font-size: 24px;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
}
.hasAccount:nth-of-type(1){
  padding-right: 10px;
}
.formButtons {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 15px 0;
}
#register, #login {
    display: none;
}
.active {
  color: #fff;
  border-bottom: solid 3px #1a8cff;
}
form {
  display: flex;
  flex-direction: column;
  color: #d9d9d9;
}
label {
  width: 80%;
  display: block;
  margin: auto;
  padding-bottom: 5px;
}
input {
  width: 75%;
  display: block;
  margin: auto;
  height: 35px;
  border: 0;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 15px;
  margin-bottom: 10px;
  color: #fff;
  padding-left: 5%;
  font-size: 14px;
}
input:focus {
  outline: none;
}
button {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  width: 80%;
  background-color: #1a8cff;
  display: block;
  margin: 5px auto 0;
  height: 35px;
  border: none;
  border-radius: 15px;
  transition: .2s
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: #0080ff; 
}
@media screen and (min-width: 500px){
  input {
    width: 55%;
  }
  label {
    width: 60%;
  }
  .textBox {
    width: 60%;
  }
  .errorMessage {
    width: 60%;
  }
  button {
    width: 60%;
  }
  .formButtons {
    width: 60%;
  }
}
@media screen and (min-width: 1000px){
  #inputContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .formSection {
    padding-left: 10%;
  }
  .formSection, .textBox {
    width: 50%;
    margin-top: 100px
  }
  .textBox {
    border-bottom: none;
  }
  .textBox h1 {
    font-size: 48px;
  }
  .textBox h2 {
    margin: 5px 0 10px;
  }
  .textBox i {
    font-size: 30px;
  }
}

