* {
    padding: 0;
    margin: 0;
    color: #fff;
}
#nowPlaying {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #262626; 
}
#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}
#nowPlayingLeft, #nowPlayingRight {
    Width: 30%;
}

#nowPlayingCenter{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nowPlayingBar .content {
    width: 100%;
}
.buttons {
    margin: 0 auto;
    display: table;
}
.fas, .far {
    font-size:40px;
    color:#fff;
}
.controlButton {
    vertical-align: middle;
}
.playbackBar {
    display: flex;
}
.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}