* {
    padding: 0;
    margin: 0;
}
body {
    /* TODO: fix gradient not showing */
    background-image: linear-gradient(rgba(0, 77, 153, .6), rgba(0, 77, 153, .6)), url(../images/test2.jpg);
    font-family: 'Raleway', sans-serif;
    color:  #cccccc;
  }
#nowPlaying {
    width: 100%;
    position: fixed;
    bottom: 67px;
    background-color: #1a1a1a; 
}
#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}
#nowPlayingLeft, #nowPlayingRight {
    Width: 30%;
}
#nowPlayingRight {
    margin-top: 16px;
}
#nowPlayingCenter{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nowPlayingBar .content {
    width: 100%;
}
.contentLeft {
    display: flex;
    align-items: center;
}
.buttons {
    margin: 0 auto;
    display: table;
}
.fas, .far {
    font-size:40px;
    color: #cccccc;
    padding: 0 2px;
    cursor: pointer;
}
.fa-redo {
    font-size: 22px;
    margin-top: 1px;
}
.fa-random {
    font-size: 25px;
}
.fa-play-circle {
    font-size: 50px;
}
.controlButton {
    vertical-align: middle;
}
.playbackBar {
    display: flex;
}
.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
    margin-top: 8px;
}
.progressBg {
    background-color: #cccccc;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}
.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}
#nowPlaying img {
    height: 100%;
    width: 65px;
    background-size: cover;
    margin-bottom: 10px;
}
.trackInfo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-bottom: 10px;
}
.trackName {
    font-size: 16px;
}
.artistName {
    font-size: 14px;
}
.volumeBar {
    display: flex;
    align-items: center;
    float: right;
}
.volumeBar .progressBar {
    margin-top:7px;
    width: 125px;
}
.volumeBar i {
    font-size: 30px;
    margin-right: 15px;
}
/* NAV */
.navbar .logo {
    display: none;
}
.navbar {
    background-color: #1a1a1a; 
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar a {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #cccccc;
    text-align: center;
    padding: 10px 0;
}
.navbar i {
    padding-bottom: 3px;
    font-size: 25px;
}
@media only screen and (max-width: 690px){
    #nowPlayingBar {
        display: block;
        height: 110px;
        padding: 16px 0;
    }
    #nowPlayingCenter {
        width: 100%;
    }
    #nowPlayingRight {
        display: none;
    }
    #nowPlayingLeft {
        width: 100%;
    }
    #nowPlayingLeft img {
        display: none;
    }
    .trackInfo {
        flex-direction: row;
        justify-content: center;
    }
    .trackInfo span {
        display: block;
        font-size: 20px;
    }
    .trackInfo .trackName::after {
        content: " | ";
        padding: 0 7px 0 5px;
    }
    .progressTime {
        display: none;
    }
    .fas, .far {
        padding: 0 5px;
    }
    #nowPlayingCenter .progressBar {
        position: relative;
        top: -107px;
    }
    #nowPlayingCenter .progressBg {
        border-radius: 0;
        background-color: #404040;
    } 
    /* TODO: Fix delay on scroll */
    .contentLeft {
        position: relative;
        -webkit-animation: scroll 30s infinite linear;;
        -moz-animation: scroll 30s infinite linear;
        -o-animation: scroll 30s infinite linear;
        animation: scroll 30s infinite linear;
      }
      
      @keyframes scroll{
          0%   {left: 500px;}
          100% {left: -950px;}
      }
      @-webkit-keyframes scroll{
          0%   {left: 500px;}
          100% {left: -950px;}
      }
}
@media only screen and (min-width: 690px) {
    .navbar {
        top: 0;
        left: 0;
        height: 100%;
        width: 20%;
    }
    #nowPlaying {
        bottom: 0;
    }
}